.hero-container{
    background: url(../../assets/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-container::after{
    background: url(../../assets/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    content: "";
    position: absolute;
    bottom: -8%;
    width: 100%;
    height: 400px;
    z-index: 0;
}